{% extends "app/base.html" %}

{% block content %}
<div class="container">
  <h2>Editează profilul tău</h2>

  <form method="post">
    {% csrf_token %}
    <label>Username:</label>
    <input type="text" name="username" value="{{ user.username }}" class="form-control"><br>

    <label>Email:</label>
    <input type="email" name="email" value="{{ user.email }}" class="form-control"><br>

    <label>New password:</label>
    <input type="password" name="password" class="form-control" placeholder="Leave empty if you don't want to change">

    <button type="submit" class="btn">Salvează modificările</button>

    <a href="{% url 'profile' %}" class="btn-back">⟵ Back to profile</a>

  </form>
</div>
{% endblock %}
